body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
}

.layout_padding {
    padding: 75px 0;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 75px;
}

.layout_padding-bottom {
    padding-bottom: 75px;
}

.custom_heading {
    color: #030404;
}

.custom_heading span {
    color: #21d7ff;
}


/*end header section*/


/* slider section */

.slider_section {
    background-image: url(../images/hero.jpg);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_detail-box h1 {
    color: #ffffff;
    font-size: 52px;
}

.slider_detail-box h1 span {
    display: inline-block;
    color: #434242;
    font-weight: bold;
}

.slider_detail-box p {
    color: #f6f8f7;
    margin-top: 45px;
    margin-bottom: 40px;
}

.slider_detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 10px 45px;
    background-color: #023b48;
    border: 1px solid #023b48;
    color: #ffffff;
    margin-right: 10px;
}

.slider_detail-box .btn-box .btn-1:hover {
    background-color: transparent;
    color: #023b48;
}

.slider_detail-box .btn-box .btn-2 {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #023b48;
}

.slider_detail-box .btn-box .btn-2:hover {
    background-color: transparent;
    color: #ffffff;
}

.slider_img-box {
    margin-right: 5%;
}

.slider_img-box img {
    width: 100%;
}

.carousel-indicators {
    bottom: -15%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #010106;
}

.about_section {
    background-image: url(../images/about-bg.png);
    background-size: cover;
}

.about_section .row {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    margin: 25px 0;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #023b48;
    border: 1px solid #023b48;
    color: #ffffff;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #023b48;
}

.gallery-section {
    background-color: #0dc3ff;
}

.gallery-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.gallery-section .container h2 {
    color: #ffffff;
}

.gallery-section .img_box {
    margin: 15px 0;
}

.gallery-section .img_box img {
    width: 100%;
    height: 100%;
}

.gallery-section .img_box.box-1 {
    width: 28%;
}

.gallery-section .img_box.box-2 {
    width: 70%;
}

.gallery-section .img_box.box-3 {
    width: 32%;
}

.gallery-section .img_box.box-4 {
    width: 32%;
}

.gallery-section .img_box.box-5 {
    width: 32%;
}


/* end footer section*/


/*# sourceMappingURL=style.css.map */

@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }
    .slider_section {
        padding: 50px 0;
    }
    .quote_btn-container {
        display: none;
    }
    .quote_btn-container a {
        display: none;
    }
}

@media (max-width: 992px) {
    .custom_nav-container .nav_search-btn {
        background-position: center;
    }
    .map_section .form_container form {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .slider_detail-box {
        text-align: center;
    }
    .info_section .col-md-3 {
        text-align: center;
    }
    .info_section .col-md-3:not(:nth-last-child(1)) {
        margin-bottom: 35px;
    }
    .tasty_section h2 {
        font-size: 80px;
    }
    .contact_section {
        background-size: cover;
    }
    .info_items {
        flex-direction: column;
        align-items: center;
    }
    .info_items .item {
        margin: 20px 0;
    }
    .info_items::before {
        display: none;
    }
    .slider_img-box {
        margin: 25px 0 45px 0;
    }
    .carousel-indicators {
        bottom: -5%;
    }
    .col-md-6.offset-md-2 {
        margin: 40px 0;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .client_section .client_container {
        flex-direction: column;
        align-items: center;
    }
    .client_section .pl-100 {
        padding-left: 0;
    }
    .client_section .client_container .img_box {
        margin: -150px auto 25px auto;
    }
    .client_section .client_container {
        margin-top: 100px;
    }
    .gallery-section .container {
        flex-direction: column;
    }
    .gallery-section .img_box {
        width: 100% !important;
    }
    .map_section .form_container {
        width: 100%;
    }
    .map_section .form_container form {
        width: 100%;
    }
    .map_section #map {
        position: relative;
        height: 450px !important;
    }
}

@media (max-width: 480px) {
    .slider_detail-box h1 {
        font-size: 40px;
    }
}

@media (max-width: 420px) {}

@media (max-width: 360px) {
    .btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider_detail-box .btn-box .btn-1 {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}